{% for order in all_orders %}
        <a href="{% url "order_edit" order.id %}">EChange status order {{order.id }}</a>|
        Order №: {{ order.order.id }} |
        Dealer: {{ order.order.dealership.name }} |
        Client: {{ order.order.client.name }} |
        Car: {{ order.order.car.car_type.brand }} |
        {{ order.order.car.car_type.model_auto }} |
        Color: {{ order.order.car.color }} |
        Price: {{ order.order.car.car_type.price }} |
        Quantity: {{ order.quantity }} |
        Blocked: {{ order.order.car.blocked_by_order }} |
        Paid: {{ order.is_paid }} | <br>

{% endfor %}